<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>List Asrama</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/styles.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>

<body style="background-color: rgb(255, 255, 255);">
	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
		<nav class="nav" style="margin-left: 390px;">
			<a class="navbar-brand" href="/">Keasramaan Go-Respect!!!</a>
		</nav>
		<div style="margin-left: 470px;">
			<ul class="nav justify-content-end">
				<li class="nav-item"><a class="nav-link" href="/pengumuman">Pengumuman</a></li>
				<li class="nav-item"><a class="nav-link" href="/perizinan">Perizinan</a></li>
				<li>
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Asrama</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="/antiokhia">Anthiokia</a>
							<a class="dropdown-item" href="/betfage">Betfage</a> 
							<a class="dropdown-item" href="/kapernaum">Kapernaum</a> 
							<a class="dropdown-item" href="/mahanaim">Mahanaim</a> 
							<a class="dropdown-item" href="/mamre">Mamre</a> 
							<a class="dropdown-item" href="/nazareth">Nazareth</a> 
							<a class="dropdown-item" href="/silo">Silo</a> 
							<a class="dropdown-item" href="/pniel">Pniel</a>
						</div>
					</div>
				</li>
				<li class="nav-item" style="margin-left: 5px"><button
						class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></li>
			</ul>
		</div>
	</nav>

	<main role="main">
	<div class="container">
		<div class="body-content" style="text-align: center">

			<div class="row">
				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					
					<a href="/antiokhia">
						<h1 style="font-family: 'Century Gothic', serif" class="lead">Anthiokia</h1>
					</a>
					
					<br>
					<figure>
						<a href="/antiokhia"><img src="/img/antiokhia.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/betfage">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Betfage</h2>
					</a>
					<br>
					<figure>
						<a href="/betfage"><img src="/img/betfage.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>
				
				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/kapernaum">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Kapernaum</h2>
					</a>
					<br>
					<figure>
						<a href="/kapernaum"><img src="/img/kapernaum.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/mahanaim">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Mahanaim</h2>
					</a>					<br>
					<figure>
						<a href="/mahanaim"><img src="/img/mahanaim.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/mamre">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Mamre</h2>
					</a>
					<br>
					<figure>
						<a href="/mamre"><img src="/img/mamre.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>

				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/nazareth">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Nazareth</h2>
					</a>
					<br>
					<figure>
						<a href="/nazareth"><img src="/img/nazareth.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/pniel">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Pniel</h2>
					</a>
					<br>
					<figure>
						<a href="/pniel"><img src="/img/pniel.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<a href="/silo">
						<h2 style="font-family: 'Century Gothic', serif" class="lead">Silo</h2>
					</a>
					<br>
					<figure>
						<a href="/silo"><img src="/img/silo.jpeg" width="320" height="190"></a>
					</figure>
					<p><b>Didirikan sejak tahun 2010</b></p>
				</div>
			</div>

		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>