<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>home</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background-color: rgb(255, 255, 255);">
	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
		<nav class="nav" style="margin-left: 390px;">
			<a class="navbar-brand" href="/">Keasramaan Go-Respect!!!</a>
		</nav>
		<div style="margin-left: 470px;">
			<ul class="nav justify-content-end">
				<li class="nav-item"><a class="nav-link" href="/pengumuman">Pengumuman</a></li>
				<li class="nav-item"><a class="nav-link" href="/perizinan">Perizinan</a></li>
				<li>
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Asrama</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="/antiokhia">Anthiokia</a>
							<a class="dropdown-item" href="/betfage">Betfage</a> 
							<a class="dropdown-item" href="/kapernaum">Kapernaum</a> 
							<a class="dropdown-item" href="/mahanaim">Mahanaim</a> 
							<a class="dropdown-item" href="/mamre">Mamre</a> 
							<a class="dropdown-item" href="/nazareth">Nazareth</a> 
							<a class="dropdown-item" href="/silo">Silo</a> 
							<a class="dropdown-item" href="/pniel">Pniel</a>
						</div>
					</div>
				</li>
				<li class="nav-item" style="margin-left: 5px"><button
						class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid" style="text-align: center">
		<h1 style="font-family: 'Century Gothic', serif">Sistem Informasi
			Keasramaan</h1>

		<p style="font-family: 'Century Gothic', serif" class="lead">Selamat
			Datang di Sistem Informasi Keasramaan Institut Teknologi Del</p>

	</div>
	<div class="container">
		<div class="body-content" style="text-align: center">

			<div class="row">
				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<h1>
						<span><i class="glyphicon glyphicon-book"></i></span>
					</h1>

					<h2 style="font-family: 'Century Gothic', serif" class="lead">
						<b>Pengumuman</b>
					</h2>
					<br>

					<p>Fitur ini menampilkan beberapa pengumuman yang wajib
						diketahui mahasiswa Institut Teknologi Del</p>

					<p style="font-family: 'Century Gothic', serif" class="lead">
						<a class="btn btn-primary" href="/pengumuman">Pengumuman >></a>
					</p>
				</div>

				<div class="jumbotron col-md-4" style="border: 2px solid grey;">
					<h1>
						<span><i class="glyphicon glyphicon-user"></i></span>
					</h1>
					<h2 style="font-family: 'Century Gothic', serif" class="lead">Perizinan</h2>
					<br>
					<p>Fitur ini menampilkan beberapa perizinan yang wajib
						diketahui mahasiswa Institut Teknologi Del</p>
					<p style="font-family: 'Century Gothic', serif" class="lead">
						<a class="btn btn-primary" href="/perizinan">Perizinan >></a>
					</p>
				</div>


				<div class="jumbotron col-md-4" style="border: 2px solid grey">
					<h1>
						<span><i class="glyphicon glyphicon-copyright-mark"></i></span>
					</h1>
					<h2 style="font-family: 'Century Gothic', serif" class="lead">Asrama</h2>
					<br>
					<p>Tempat dimana kamu temukan beberapa manusia penuh respect</p>
					<p style="font-family: 'Century Gothic', serif" class="lead">
					<br>
						<a class="btn btn-primary" href="/asrama">Asrama >></a>
					</p>
				</div>

			</div>

		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>